# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

In [1]:
import pandas as pd

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

Make an prediction of the annual generated electric energy provided by wind energy for all 16 German states (Bundesländer)

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

#### **Dataset 1**

Type: CSV File

Method: was downloaded via the API of https://www.renewables.ninja/ 

Dataset variables:

*   Variable 1: 'time' hourly time in UTC, starting in '1980-01-01 00:00:00' to '2019-12-31 23:00:00'
*   Variable 2-39: Capacity factors of the wind turbines for all German NUTS 2 regions
*   Variable 40: 'DE_TOTAL' Capacity factors of the wind turbines for Germany in Total

1st data gathering and loading method <br>
SOURCE: https://www.renewables.ninja/ --> country data --> Germany --> Wind (NUTS-2, current fleet, MERRA-2) (94.84 MB) <br>

DATASET INFO: # Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060 <br>
UNITS: time in UTC, other columns are capacity factors [0-1]. Current farms, with offshore farms inclued in closest NUTS zone. Bias corrected using national generation data. <br>

In [ ]:
import requests
import pandas as pd
import csv

In [179]:
# The API Import is based on the API documentation of 
# https://www.renewables.ninja/documentation/api


# token is obtainable via free registration at https://www.renewables.ninja/
token = pd.read_csv('token_renewable_ninjas.txt').iloc[0,0] 

api_base = 'https://www.renewables.ninja/'

s = requests.session()

# Send token header with each request
s.headers = {'Authorization': 'Token ' + token}

# wind energy data for Germany (DE) for all NUTS 2 regions
url = api_base + 'country_downloads/DE/ninja_wind_country_DE_current_merra-2_nuts-2_corrected.csv' 


        
# Get the response
r = s.get(url)

# Write response into csv 
file = open('wind_data_germany_NUTS2.csv', 'wb')
file.write(r.content)
file.close()

# wind energy data for Germany (DE) for additional offshore data
url =   api_base + 'country_downloads/DE/ninja_wind_country_DE_current-merra-2_corrected.csv' 

# Get the response
r = s.get(url)

# Write response into csv 
file = open('wind_data_germany_offshore.csv', 'wb')
file.write(r.content)
file.close()

In [187]:
# Read the saved csv as DataFrame
df1_1 = pd.read_csv('wind_data_germany_NUTS2.csv')
df1_2 = pd.read_csv('wind_data_germany_offshore.csv')

C:\Users\boeingh\AppData\Local\Temp\ipykernel_21988\2833458623.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df1_1 = pd.read_csv('wind_data_germany_NUTS2.csv')
C:\Users\boeingh\AppData\Local\Temp\ipykernel_21988\2833458623.py:3: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1_2 = pd.read_csv('wind_data_germany_offshore.csv')

In [188]:
df1_1.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

In [189]:
df1_2.head(5)

,"# Renewables.ninja Wind (hourly data, split by on/offshore, 1980-2019) - ninja_wind_country_DE_current-merra-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.068",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN
1,time,national,offshore,onshore
2,1980-01-01 00:00:00,0.2584,0.3169,0.2515
3,1980-01-01 01:00:00,0.2579,0.3242,0.2501
4,1980-01-01 02:00:00,0.2446,0.3307,0.2344

In [220]:
# Concat both DataFrames, without addionatl first column in DataFrame df1_2
df = pd.concat([df1_1, df1_2.iloc[:,1:4]], axis =1)

In [221]:
df

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL,national,offshore,onshore
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169,0.2515
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242,0.2501
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426,0.2446,0.3307,0.2344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350637,2019-12-31 19:00:00,0.0736,0.1045,0.0907,0.0589,0.0262,0.0523,0.0299,0.0309,0.0358,...,0.2218,0.1214,0.1654,0.1408,0.1509,0.0697,0.1103,0.1071,0.0627,0.1123
350638,2019-12-31 20:00:00,0.0693,0.1127,0.0988,0.0905,0.0186,0.0181,0.012,0.0282,0.0187,...,0.1928,0.1109,0.1475,0.117,0.1263,0.0724,0.0921,0.0889,0.0493,0.0935
350639,2019-12-31 21:00:00,0.0605,0.1063,0.0706,0.0854,0.014,0.0084,0.004,0.0269,0.0128,...,0.1702,0.1006,0.1289,0.0973,0.1149,0.0669,0.0808,0.0774,0.0437,0.0813
350640,2019-12-31 22:00:00,0.057,0.1031,0.0647,0.0616,0.0089,0.0056,0.0016,0.0227,0.0112,...,0.143,0.0861,0.1099,0.0774,0.1162,0.0553,0.0722,0.068,0.0495,0.0701
350641,2019-12-31 23:00:00,0.057,0.0963,0.0581,0.0467,0.0076,0.0058,0.0011,0.0137,0.0122,...,0.1196,0.0709,0.0905,0.0614,0.131,0.0413,0.069,0.064,0.0678,0.0636

#### Dataset 2

Installed Wind Turbines in Germany from public register for all electricity producing entities in public electricity networks. Downloaded 1. Sep 2023. <br />
Type:  CSV File

Method: Obtained via direct download from webpage https://www.marktstammdatenregister.de/MaStR/Einheit/Einheiten/OeffentlicheEinheitenuebersicht  <br />

Dataset variables: The Dataset contains 50 different columns/variables. Hence, all non necessary variables are going to be removed. <br />

Important variables:
*   column 0: MaStR-Nr. der Einheit - ID of wind turbine  
*   column 8: Bundesland - German state where the wind turbine is located
*   column 44: Installierte Leistung - installed capacity

In [191]:
#FILL IN 2nd data gathering and loading method

df2_1 = pd.read_csv('Stromerzeuger_1_bis_25000.csv', sep=';', on_bad_lines='warn') 
df2_2 = pd.read_csv('Stromerzeuger_25001_bis_34883.csv', sep=';', on_bad_lines='warn') 

df2 = pd.concat([df2_1, df2_2], ignore_index=True)

In [192]:
df2.head(5)

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
0,SEE940146675093,WEA 5,In Betrieb,Wind,3000,3000,1.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG951718125489,E23572010000000001000024015700005,1.9.2017,3000,NaN,NaN,NaN,NaN,NaN
1,SEE973767078653,WEA 2 / 1150775,In Betrieb,Wind,3000,3000,28.9.2017,1.2.2019,Schleswig-Holstein,23824.0,...,SEL950515942794,EEG912885854947,E2079301EA01000000000087410800002,28.9.2017,3000,NaN,NaN,NaN,NaN,NaN
2,SEE914108319653,WEA 4,In Betrieb,Wind,3000,3000,4.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG996216581153,E23572010000000001000024015700006,4.9.2017,3000,NaN,NaN,NaN,NaN,NaN
3,SEE982417853618,WEA 6,In Betrieb,Wind,3000,3000,31.8.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG926639129328,E23572010000000001000024015700004,31.8.2017,3000,NaN,NaN,NaN,NaN,NaN
4,SEE913741454097,WEA 1 BMR,In Betrieb,Wind,2400,2400,11.1.2017,31.1.2019,Nordrhein-Westfalen,52525.0,...,SEL928898629335,EEG982767300077,E3070101Wn00000000000002891900001,19.1.2017,2400,NaN,NaN,NaN,NaN,NaN

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [193]:
#Optional: store the raw data in your local data store

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

Information on Data quality dimensions from udacity course: <br>

The key dimensions of data quality: 

1. Completeness is a metric that helps you understand whether your data is sufficient to answer interesting questions or solve your problem.
2. Validity is a metric helping you understand how well your data conforms to a defined set of rules for data, also known as a schema.
3. Accuracy is a metric that helps you understand whether your data accurately represents the reality it aims to depict.
4. Consistency is a metric that helps you understand two things: whether your data follows a standard format and whether your data’s info matches with information from other data sources.
5. Uniqueness is a metric that helps you understand whether there are duplicate or overlapping values in your data.

### Tidiness Issue 1: columns and index not correctly set in first dataset

In [194]:
#FILL IN - Inspecting the dataframe visually
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 1,Unnamed: 2
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL,national,offshore
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426,0.2446,0.3307

In [195]:
#FILL IN - Inspecting the dataframe programmatically
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350642 entries, 0 to 350641
Data columns (total 42 columns):
 #   Column                                                                                                                                                                                                                                        Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                        --------------   -----
 0   # Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060  350642 non-null  object
 1   Unnamed: 1                                                                                                                                                                                                                                    350641 non-null  object
 2   Unnamed: 2                                                                                                                                                                                                                                    350641 non-null  object
 3   Unnamed: 3                                                                                                                                                                                                                                    350641 non-null  object
 4   Unnamed: 4                                                                                                                                                                                                                                    350641 non-null  object
 5   Unnamed: 5                                                                                                                                                                                                                                    350641 non-null  object
 6   Unnamed: 6                                                                                                                                                                                                                                    350641 non-null  object
 7   Unnamed: 7                                                                                                                                                                                                                                    350641 non-null  object
 8   Unnamed: 8                                                                                                                                                                                                                                    350641 non-null  object
 9   Unnamed: 9                                                                                                                                                                                                                                    350641 non-null  object
 10  Unnamed: 10                                                                                                                                                                                                                                   350641 non-null  object
 11  Unnamed: 11                                                                                                                                                                                                                                   350641 non-null  object
 12  Unnamed: 12                                                                                                                                                                                                                                   350641 non-null  object
 13  Unnamed: 13                                                                                                                                                                                                                                   350641 non-null  object
 14  Unnamed: 14                                                                                                                                                                                                                                   350641 non-null  object
 15  Unnamed: 15                                                                                                                                                                                                                                   350641 non-null  object
 16  Unnamed: 16                                                                                                                                                                                                                                   350641 non-null  object
 17  Unnamed: 17                                                                                                                                                                                                                                   350641 non-null  object
 18  Unnamed: 18                                                                                                                                                                                                                                   350641 non-null  object
 19  Unnamed: 19                                                                                                                                                                                                                                   350641 non-null  object
 20  Unnamed: 20                                                                                                                                                                                                                                   350641 non-null  object
 21  Unnamed: 21                                                                                                                                                                                                                                   350641 non-null  object
 22  Unnamed: 22                                                                                                                                                                                                                                   350641 non-null  object
 23  Unnamed: 23                                                                                                                                                                                                                                   350641 non-null  object
 24  Unnamed: 24                                                                                                                                                                                                                                   350641 non-null  object
 25  Unnamed: 25                                                                                                                                                                                                                                   350641 non-null  object
 26  Unnamed: 26                                                                                                                                                                                                                                   350641 non-null  object
 27  Unnamed: 27                                                                                                                                                                                                                                   350641 non-null  object
 28  Unnamed: 28                                                                                                                                                                                                                                   350641 non-null  object
 29  Unnamed: 29                                                                                                                                                                                                                                   350641 non-null  object
 30  Unnamed: 30                                                                                                                                                                                                                                   350641 non-null  object
 31  Unnamed: 31                                                                                                                                                                                                                                   350641 non-null  object
 32  Unnamed: 32                                                                                                                                                                                                                                   350641 non-null  object
 33  Unnamed: 33                                                                                                                                                                                                                                   350641 non-null  object
 34  Unnamed: 34                                                                                                                                                                                                                                   350641 non-null  object
 35  Unnamed: 35                                                                                                                                                                                                                                   350641 non-null  object
 36  Unnamed: 36                                                                                                                                                                                                                                   350641 non-null  object
 37  Unnamed: 37                                                                                                                                                                                                                                   350641 non-null  object
 38  Unnamed: 38                                                                                                                                                                                                                                   350641 non-null  object
 39  Unnamed: 39                                                                                                                                                                                                                                   350641 non-null  object
 40  Unnamed: 1                                                                                                                                                                                                                                    350641 non-null  object
 41  Unnamed: 2                                                                                                                                                                                                                                    350641 non-null  object
dtypes: object(42)
memory usage: 112.4+ MB

Issue and justification:  <br>
columns and time index are not set correctly

### Tidiness Issue 2: Wrond data types in dataset 1

In [196]:
#FILL IN - Inspecting the dataframe visually
df.sample()

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 1,Unnamed: 2
138415,1995-10-16 05:00:00,0.0001,0.0007,0.0182,0.0055,0.0007,0.0,0.0,0.0074,0.0003,...,0.0032,0.0822,0.0616,0.073,0.0404,0.1499,0.0237,0.059,0.0538,0.0808

In [197]:
#FILL IN - Inspecting the dataframe programmatically
df.dtypes.describe()

count         42
unique         1
top       object
freq          42
dtype: object

Issue and justification: *FILL IN*

### Tidiness Issue 3: Column 'Installierte Leistung' in second dataset is in wrong datatype and contains German Decimal separator ","

In [198]:
#FILL IN - Inspecting the dataframe visually
df2.loc[df2['Installierte Leistung'].notna()].query('`Installierte Leistung`.str.contains(",")')

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
79,SEE909849088661,KWEA,In Betrieb,Wind,"29,8","29,8",22.5.2018,12.2.2019,Niedersachsen,26169.0,...,SEL935786229775,EEG939249793872,E21846010000000000001132583200001,22.5.2018,"29,8",NaN,NaN,NaN,NaN,NaN
246,SEE902072542702,Windmast,In Betrieb,Wind,"3,68","3,68",23.4.2013,6.2.2019,Hessen,34516.0,...,SEL970024742067,EEG982857338805,E2052301111AA00000000011551700001,23.4.2013,"3,68",NaN,NaN,NaN,NaN,NaN
280,SEE907566446207,"Antaris 5,5 KW",In Betrieb,Wind,"5,5","5,5",15.2.2012,7.2.2019,Bayern,85435.0,...,SEL951172808560,EEG923276605154,E21422010020024104100101010000001,15.2.2012,"5,5",NaN,NaN,NaN,NaN,NaN
503,SEE902262723539,Windrad,In Betrieb,Wind,"9,9","9,9",8.3.2014,11.2.2019,Baden-Württemberg,72469.0,...,SEL918501316738,EEG993680145010,NaN,8.3.2014,"9,9",NaN,NaN,NaN,NaN,NaN
949,SEE988744484358,"MK Windkraftanlage 1,6KW",In Betrieb,Wind,"1,6","1,6",8.5.2013,18.2.2019,Bayern,95131.0,...,SEL916348033429,EEG961175576465,NaN,8.5.2013,"1,6",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34478,SEE970611368106,Mini-Windkraftanlage Hausdach,In Betrieb,Wind,"0,6","0,6",1.6.2023,8.6.2023,Niedersachsen,29690.0,...,SEL914366504679,EEG951691968219,NaN,1.6.2023,"0,6",NaN,NaN,NaN,NaN,NaN
34554,SEE949642137555,Hof-Schürholz Mikrowindanlage,In Betrieb,Wind,"0,9","0,9",2.7.2023,2.7.2023,Nordrhein-Westfalen,57482.0,...,SEL926550841293,EEG935314921782,NaN,2.7.2023,"0,9",NaN,NaN,NaN,NaN,NaN
34661,SEE916749066187,"Windbaum 10,8 KW/peak",In Betrieb,Wind,"10,8","10,8",29.6.2023,30.6.2023,Rheinland-Pfalz,55270.0,...,SEL964314156276,EEG915333192769,NaN,29.6.2023,"10,8",NaN,NaN,NaN,NaN,NaN
34793,SEE974699041647,E105681,In Betrieb,Wind,"7,5","7,5",20.7.2023,31.7.2023,Mecklenburg-Vorpommern,18225.0,...,SEL998220497185,EEG984300312905,NaN,20.7.2023,"7,5",NaN,NaN,NaN,NaN,NaN
34873,SEE981924971389,Kleinwindkraftanlage Bestwatt Magens,In Betrieb,Wind,"29,8","29,8",13.5.2022,28.8.2023,Schleswig-Holstein,25377.0,...,SEL983594236850,EEG924660488070,NaN,13.5.2022,"29,8",NaN,NaN,NaN,NaN,NaN

In [199]:
#FILL IN - Inspecting the dataframe programmatically
df2['Installierte Leistung'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 34883 entries, 0 to 34882
Series name: Installierte Leistung
Non-Null Count  Dtype
--------------  -----
32231 non-null  object
dtypes: object(1)
memory usage: 272.6+ KB

Issue and justification: Missing values in columns 'Bundesland' (German State) and 'Installierte Leistung' (installed capacity)

### Quality Issue 1: Data is not consistent for merging the two Dataframes

In [200]:
#FILL IN - Inspecting the dataframe visually
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 1,Unnamed: 2
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL,national,offshore
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426,0.2446,0.3307

In [201]:
#FILL IN - Inspecting the dataframe programmatically
df.loc[1]

# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060        time
Unnamed: 1                                                                                                                                                                                                                                          DE11
Unnamed: 2                                                                                                                                                                                                                                          DE12
Unnamed: 3                                                                                                                                                                                                                                          DE13
Unnamed: 4                                                                                                                                                                                                                                          DE14
Unnamed: 5                                                                                                                                                                                                                                          DE21
Unnamed: 6                                                                                                                                                                                                                                          DE22
Unnamed: 7                                                                                                                                                                                                                                          DE23
Unnamed: 8                                                                                                                                                                                                                                          DE24
Unnamed: 9                                                                                                                                                                                                                                          DE25
Unnamed: 10                                                                                                                                                                                                                                         DE26
Unnamed: 11                                                                                                                                                                                                                                         DE27
Unnamed: 12                                                                                                                                                                                                                                         DE30
Unnamed: 13                                                                                                                                                                                                                                         DE40
Unnamed: 14                                                                                                                                                                                                                                         DE50
Unnamed: 15                                                                                                                                                                                                                                         DE60
Unnamed: 16                                                                                                                                                                                                                                         DE71
Unnamed: 17                                                                                                                                                                                                                                         DE72
Unnamed: 18                                                                                                                                                                                                                                         DE73
Unnamed: 19                                                                                                                                                                                                                                         DE80
Unnamed: 20                                                                                                                                                                                                                                         DE91
Unnamed: 21                                                                                                                                                                                                                                         DE92
Unnamed: 22                                                                                                                                                                                                                                         DE93
Unnamed: 23                                                                                                                                                                                                                                         DE94
Unnamed: 24                                                                                                                                                                                                                                         DEA1
Unnamed: 25                                                                                                                                                                                                                                         DEA2
Unnamed: 26                                                                                                                                                                                                                                         DEA3
Unnamed: 27                                                                                                                                                                                                                                         DEA4
Unnamed: 28                                                                                                                                                                                                                                         DEA5
Unnamed: 29                                                                                                                                                                                                                                         DEB1
Unnamed: 30                                                                                                                                                                                                                                         DEB2
Unnamed: 31                                                                                                                                                                                                                                         DEB3
Unnamed: 32                                                                                                                                                                                                                                         DEC0
Unnamed: 33                                                                                                                                                                                                                                         DED2
Unnamed: 34                                                                                                                                                                                                                                         DED4
Unnamed: 35                                                                                                                                                                                                                                         DED5
Unnamed: 36                                                                                                                                                                                                                                         DEE0
Unnamed: 37                                                                                                                                                                                                                                         DEF0
Unnamed: 38                                                                                                                                                                                                                                         DEG0
Unnamed: 39                                                                                                                                                                                                                                     DE_TOTAL
Unnamed: 1                                                                                                                                                                                                                                      national
Unnamed: 2                                                                                                                                                                                                                                      offshore
Name: 1, dtype: object

Issue:
The analysis focuses on the German states (NUTS 1 regions), but the data in the first dataset is given in NUTS 2 regions. Hence, we have to combine the data for the NUTS 2 regions into data for NUTS 1 regions (German States).

### Quality Issue 2: Missing values in second Dataset

Checking for missing values in column 'Bundesland' (German state)

In [202]:
#FILL IN - Inspecting the dataframe visually
df2.query('Bundesland.isna()')

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
28289,SEE945735773402,V214103 (WH26),In Betrieb,Wind,3300,3300,23.12.2016,16.12.2020,NaN,NaN,...,SEL942043454245,EEG999280094369,E4183201RS50343407000093516100001,23.12.2016,3300,NaN,NaN,NaN,NaN,NaN

In [203]:
#FILL IN - Inspecting the dataframe programmatically
df2['Bundesland'].isna().sum()

1

Checking for missing values in column 'Installierte Leistung' (installed capacity)

In [204]:
#FILL IN - Inspecting the dataframe programmatically
df2['Installierte Leistung'].isna().sum()

2652

In [205]:
#FILL IN - Inspecting the dataframe visually
df2.loc[df2['Installierte Leistung'].isna()]

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
12,SEE923802377883,WEA 2,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-Württemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,SEE950179793688,WEA 3,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-Württemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,SEE926034105682,WEA 4,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-Württemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SEE971087087461,WEA 6,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-Württemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,SEE910634021237,WEA 7,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-Württemberg,78166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34877,SEE998676853559,GR18,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34878,SEE962120339821,GR19,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34879,SEE997949171680,GR20,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34880,SEE950186659038,GR21,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34881,SEE901623819256,GR22.1,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Issue and justification: Missing values in columns 'Bundesland' (German State) and 'Installierte Leistung' (installed capacity)

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [574]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted
df1_clean = df.copy()
df2_clean = df2.copy()

### **Clean Tidiness Issue 1: Setting the right Columns and index**

In [575]:
# Set correct columns
columns = df1_clean.iloc[1].values # Rename the columns with data in correct row
df1_clean.drop([0,1], inplace=True) # Dropping first two rows with non valid data
df1_clean.columns = columns # renaming the columns

In [576]:
# Set correct index
df1_clean['time'] = pd.DatetimeIndex(df1_clean['time']) # Cast column 'time' as DatetimeIndex
df1_clean.set_index('time', inplace=True) # Set as time Index for Dataframe

In [577]:
# FILL IN - Validate the cleaning was successful
df1_clean.head(5)

,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,DE26,...,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL,national,offshore,onshore
time,,,,,,,,,,,,,,,,,,,,,
1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,0.3309,...,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169,0.2515
1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,0.3692,...,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242,0.2501
1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,0.38,...,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426,0.2446,0.3307,0.2344
1980-01-01 03:00:00,0.344,0.2764,0.0995,0.3909,0.5074,0.4321,0.4107,0.3193,0.4299,0.3302,...,0.352,0.2938,0.3512,0.289,0.0446,0.3553,0.2351,0.2362,0.3488,0.223
1980-01-01 04:00:00,0.3153,0.2619,0.0942,0.39,0.4734,0.3904,0.4257,0.3424,0.4137,0.3166,...,0.4035,0.2929,0.3642,0.2768,0.0735,0.3689,0.2339,0.2346,0.3779,0.2178

Justification: *FILL IN*

Justification: *FILL IN*

### **Clean Tidiness Issue 2: Setting the correct data type**

In [578]:
# Set correct data type
df1_clean = df1_clean.astype(float) # cast whole DataFrame as Float

In [579]:
#FILL IN - Validate the cleaning was successful
for dtype in df1_clean.dtypes: 
    assert dtype == 'float64'

### **Clean Quality Issue 1: Data Consistency - Data is not consistent for merging the two Dataframes**

In [580]:
to_replace = df1_clean.columns[0:38].astype(str).to_series().apply(lambda x: str(x)[:-1])
df1_clean.reset_index(inplace=True)

In [581]:
# Replace colum names, regroup data and 

df1_clean = df1_clean.rename(columns=to_replace).melt(id_vars = 'time').groupby(by=['time', 'variable'])['value'].mean().reset_index(level=1).pivot(columns='variable')
df1_clean.columns = df1_clean.columns.droplevel(0)

In [582]:
df1_clean.head(5)

variable,DE1,DE2,DE3,DE4,DE5,DE6,DE7,DE8,DE9,DEA,DEB,DEC,DED,DEE,DEF,DEG,DE_TOTAL,national,offshore,onshore
time,,,,,,,,,,,,,,,,,,,,
1980-01-01 00:00:00,0.28610,0.356800,0.0602,0.1433,0.2663,0.0423,0.228500,0.1352,0.319825,0.32572,0.255900,0.1693,0.399700,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169,0.2515
1980-01-01 01:00:00,0.26225,0.390686,0.0967,0.1697,0.2344,0.0354,0.230433,0.1199,0.321325,0.31828,0.223600,0.1610,0.366500,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242,0.2501
1980-01-01 02:00:00,0.27155,0.409300,0.0894,0.1382,0.1865,0.0144,0.223933,0.1066,0.285350,0.33764,0.210833,0.1721,0.330700,0.3190,0.0315,0.3273,0.2426,0.2446,0.3307,0.2344
1980-01-01 03:00:00,0.27770,0.408400,0.0646,0.1264,0.1903,0.0070,0.275767,0.0976,0.261475,0.33322,0.195633,0.1424,0.332333,0.2890,0.0446,0.3553,0.2351,0.2362,0.3488,0.2230
1980-01-01 04:00:00,0.26535,0.397943,0.0582,0.1358,0.1940,0.0030,0.284567,0.0927,0.250500,0.30742,0.198733,0.1471,0.353533,0.2768,0.0735,0.3689,0.2339,0.2346,0.3779,0.2178

In [583]:
# Replace all NUTS1 region names with German state names for merging data
NUTS1_to_states = pd.read_excel('NUTS_regions_germany.xlsx')
NUTS1_to_states.set_index('NUTS1', inplace=True)
NUTS1_to_states_dict = NUTS1_to_states.to_dict()['State']
NUTS1_to_states_dict

{'DE1': 'Baden-Württemberg',
 'DE2': 'Bayern',
 'DE3': 'Berlin',
 'DE4': 'Brandenburg',
 'DE5': 'Bremen',
 'DE6': 'Hamburg',
 'DE7': 'Hessen',
 'DE8': 'Mecklenburg-Vorpommern',
 'DE9': 'Niedersachsen',
 'DEA': 'Nordrhein-Westfalen',
 'DEB': 'Rheinland-Pfalz',
 'DEC': 'Saarland',
 'DED': 'Sachsen',
 'DEE': 'Sachsen-Anhalt',
 'DEF': 'Schleswig-Holstein',
 'DEG': 'Thüringen'}

In [584]:
df1_clean.rename(columns=NUTS1_to_states_dict, inplace=True)

In [585]:
# df1_clean.rename(columns={'variable':'state', 'value':'capacity_factor'}, inplace=True)

In [586]:
df1_clean.head(20)

variable,Baden-Württemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,DE_TOTAL,national,offshore,onshore
time,,,,,,,,,,,,,,,,,,,,
1980-01-01 00:00:00,0.286100,0.356800,0.0602,0.1433,0.2663,0.0423,0.228500,0.1352,0.319825,0.32572,0.255900,0.1693,0.399700,0.3365,0.0175,0.3233,0.2561,0.2584,0.3169,0.2515
1980-01-01 01:00:00,0.262250,0.390686,0.0967,0.1697,0.2344,0.0354,0.230433,0.1199,0.321325,0.31828,0.223600,0.1610,0.366500,0.3284,0.0236,0.3143,0.2547,0.2579,0.3242,0.2501
1980-01-01 02:00:00,0.271550,0.409300,0.0894,0.1382,0.1865,0.0144,0.223933,0.1066,0.285350,0.33764,0.210833,0.1721,0.330700,0.3190,0.0315,0.3273,0.2426,0.2446,0.3307,0.2344
1980-01-01 03:00:00,0.277700,0.408400,0.0646,0.1264,0.1903,0.0070,0.275767,0.0976,0.261475,0.33322,0.195633,0.1424,0.332333,0.2890,0.0446,0.3553,0.2351,0.2362,0.3488,0.2230
1980-01-01 04:00:00,0.265350,0.397943,0.0582,0.1358,0.1940,0.0030,0.284567,0.0927,0.250500,0.30742,0.198733,0.1471,0.353533,0.2768,0.0735,0.3689,0.2339,0.2346,0.3779,0.2178
1980-01-01 05:00:00,0.260550,0.407714,0.0613,0.1295,0.1594,0.0008,0.301600,0.0920,0.236650,0.29086,0.198000,0.1335,0.339300,0.2796,0.1164,0.4045,0.2338,0.2323,0.3931,0.2134
1980-01-01 06:00:00,0.230225,0.401371,0.0598,0.1404,0.1211,0.0000,0.315033,0.0929,0.228200,0.30012,0.197867,0.1260,0.319067,0.2429,0.1519,0.4289,0.2304,0.2275,0.3894,0.2085
1980-01-01 07:00:00,0.194375,0.397543,0.0402,0.1025,0.1072,0.0000,0.270467,0.0961,0.210325,0.25564,0.188000,0.1324,0.279167,0.2270,0.1694,0.4111,0.2126,0.2090,0.3807,0.1889
1980-01-01 08:00:00,0.178800,0.414786,0.0215,0.0741,0.0980,0.0002,0.216067,0.1011,0.187800,0.22898,0.176467,0.1288,0.248333,0.2130,0.1691,0.3581,0.1944,0.1898,0.3582,0.1701
1980-01-01 09:00:00,0.183225,0.427886,0.0101,0.0522,0.0971,0.0043,0.210533,0.0948,0.172500,0.22652,0.172767,0.1108,0.230433,0.1885,0.1636,0.3486,0.1844,0.1785,0.3448,0.1590
1980-01-01 10:00:00,0.214375,0.479557,0.0110,0.0483,0.1393,0.0224,0.219933,0.0966,0.184975,0.21058,0.181767,0.1085,0.255167,0.1743,0.1549,0.3243,0.1884,0.1813,0.3352,0.1632
1980-01-01 11:00:00,0.227925,0.499671,0.0135,0.0531,0.2111,0.0578,0.229800,0.1088,0.216150,0.20410,0.196600,0.1270,0.272800,0.1617,0.1457,0.3502,0.2008,0.1934,0.3218,0.1783
1980-01-01 12:00:00,0.216525,0.476014,0.0134,0.0532,0.2341,0.1093,0.221767,0.1045,0.239025,0.18950,0.193633,0.1374,0.267967,0.1398,0.1376,0.3296,0.1990,0.1924,0.3140,0.1781
1980-01-01 13:00:00,0.164450,0.394371,0.0142,0.0550,0.2595,0.1825,0.188400,0.0998,0.262200,0.17016,0.171000,0.1194,0.263800,0.1462,0.1307,0.2965,0.1964,0.1925,0.3284,0.1765
1980-01-01 14:00:00,0.124300,0.329814,0.0251,0.0792,0.3400,0.2052,0.170200,0.1146,0.301975,0.19080,0.152533,0.0914,0.244833,0.1961,0.1413,0.2613,0.2143,0.2135,0.3797,0.1940
1980-01-01 15:00:00,0.115725,0.298200,0.0299,0.0921,0.3290,0.1894,0.171967,0.1090,0.301550,0.21386,0.178867,0.1101,0.205667,0.2240,0.1647,0.1899,0.2195,0.2204,0.4192,0.1971
1980-01-01 16:00:00,0.113400,0.264386,0.0301,0.0816,0.3020,0.1225,0.163633,0.0771,0.288125,0.23456,0.209400,0.1447,0.181667,0.2030,0.1920,0.1570,0.2132,0.2139,0.4359,0.1878
1980-01-01 17:00:00,0.112775,0.251357,0.0404,0.0775,0.2478,0.0647,0.158200,0.0510,0.263125,0.23926,0.209000,0.1464,0.167833,0.1970,0.2175,0.1476,0.2036,0.2029,0.4295,0.1764
1980-01-01 18:00:00,0.123500,0.247129,0.0507,0.0730,0.1564,0.0291,0.153733,0.0346,0.230475,0.24732,0.187900,0.1247,0.155500,0.1663,0.2324,0.1305,0.1875,0.1836,0.3793,0.1606
1980-01-01 19:00:00,0.136325,0.238771,0.0689,0.0789,0.1684,0.0275,0.144533,0.0260,0.230325,0.28232,0.176167,0.1005,0.151600,0.1603,0.2343,0.1314,0.1872,0.1810,0.3072,0.1662

Renaming columns in second DataFrame for Data Consinstency and merging.

In [587]:

df2_clean.rename(columns={'Bundesland':'state', 'Installierte Leistung':'installed_capacity'}, inplace=True)

In [588]:
df2_clean

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,state,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,installed_capacity,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
0,SEE940146675093,WEA 5,In Betrieb,Wind,3000,3000,1.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG951718125489,E23572010000000001000024015700005,1.9.2017,3000,NaN,NaN,NaN,NaN,NaN
1,SEE973767078653,WEA 2 / 1150775,In Betrieb,Wind,3000,3000,28.9.2017,1.2.2019,Schleswig-Holstein,23824.0,...,SEL950515942794,EEG912885854947,E2079301EA01000000000087410800002,28.9.2017,3000,NaN,NaN,NaN,NaN,NaN
2,SEE914108319653,WEA 4,In Betrieb,Wind,3000,3000,4.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG996216581153,E23572010000000001000024015700006,4.9.2017,3000,NaN,NaN,NaN,NaN,NaN
3,SEE982417853618,WEA 6,In Betrieb,Wind,3000,3000,31.8.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG926639129328,E23572010000000001000024015700004,31.8.2017,3000,NaN,NaN,NaN,NaN,NaN
4,SEE913741454097,WEA 1 BMR,In Betrieb,Wind,2400,2400,11.1.2017,31.1.2019,Nordrhein-Westfalen,52525.0,...,SEL928898629335,EEG982767300077,E3070101Wn00000000000002891900001,19.1.2017,2400,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34878,SEE962120339821,GR19,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34879,SEE997949171680,GR20,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34880,SEE950186659038,GR21,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34881,SEE901623819256,GR22.1,In Planung,Wind,6000,6000,NaN,30.8.2023,Thüringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34882,SEE965474391668,Cottkus Wind,In Betrieb,Wind,2,2,3.8.2023,30.8.2023,Brandenburg,3044.0,...,SEL952374946678,EEG948615006300,NaN,3.8.2023,2,NaN,NaN,NaN,NaN,NaN

In [589]:
df2_clean['state'] = df2_clean['state'].replace(to_replace={'Ausschließliche Wirtschaftszone': 'offshore'})

In [590]:
df2_clean[['state','installed_capacity']].groupby(by='state').sum()

                                                       installed_capacity
state
Baden-Württemberg       1000230034503300345034501000850850300030003000...
Bayern                  3300200002000200015002500275020002000200024007...
Berlin                                 33702000235023501,21,24200230011,8
Brandenburg             2000253034502000253034503450253034502530345034...
Bremen                  3400230023005000230023003400200020002000200020...
Hamburg                 6006006002000600200020002000240024002400200020...
Hessen                  3000300030001000600305024008002400240024008003...
Mecklenburg-Vorpommern  3050305030503050305030503050305030503050305030...
Niedersachsen           360060030051029,815060023501500123005006009009...
Nordrhein-Westfalen     2400300030753050305060033003300330033003300230...
Rheinland-Pfalz         3300250200033003300360023003170360050020005006...
Saarland                3000150030002300250025002500250025002500250025...
Sachsen                 85023506002300230051,1600600800340034503450345...
Sachsen-Anhalt          2500230060075020002000150015001500150015001500...
Schleswig-Holstein      3000235030751750175020000000062300660660660660...
Thüringen               6003075230018002300235033003300330023002300230...
offshore                6300378037803780378037803780378037803780378037...

### **Clean Quality Issue 2: Missing values in second Dataset**

In [591]:
# Drop data with missing info an "Bundesland" (German state)
idx_drop = df2_clean.query('state.isna()').index
len(idx_drop)

1

In [592]:
print(df2_clean.shape[0])
df2_clean.drop(index=idx_drop, inplace=True)
print(df2_clean.shape[0])

34883
34882

In [593]:
assert df2_clean.query('state.isna()').shape[0] == 0, 'Still missing data for "state"'

In [594]:
idx_replace = df2_clean[df2_clean['installed_capacity'].isna()].index

In [595]:
df2_clean.loc[idx_replace, 'installed_capacity'] = df2_clean.loc[idx_replace, 'Bruttoleistung der Einheit']

In [596]:
assert df2_clean[df2_clean['installed_capacity'].isna()].shape[0] == 0, 'Still missing data for "Installierte Leistung"'

### **Clean Tidiness Issue 3: Column 'Installierte Leistung' in second dataset is in wrong datatype and contains German Decimal separator ","**

In [597]:
df2_clean['installed_capacity'] = df2_clean['installed_capacity'].str.replace(pat=',', repl='.').astype(float)

In [598]:
assert df2_clean['installed_capacity'].dtype == 'float64', 'dtype of "installed_capacity" still wrong'

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

#FILL IN - Remove unnecessary variables and combine datasets

Issue:
The analysis focuses on the German states (NUTS 1 regions), but the data in the first dataset is given in NUTS 2 regions. Hence, we have to combine the data for the NUTS 2 regions into data for NUTS 1 regions (German States).

In [599]:
# Removing unnecessary variables in second DataFrame and copying to new DataFrame
df_inst_cap = df2_clean[['state','installed_capacity']].groupby(by='state').sum() 
df_inst_cap = df_inst_cap / 1000000
df_inst_cap.rename(columns={'installed_capacity':'installed_capacity_GW'}, inplace=True)
df_cap_fac = df1_clean.copy()

In [600]:
df_inst_cap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, Baden-Württemberg to offshore
Data columns (total 1 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   installed_capacity_GW  17 non-null     float64
dtypes: float64(1)
memory usage: 272.0+ bytes

In [601]:
df_inst_cap

                        installed_capacity_GW
state
Baden-Württemberg                    2.491149
Bayern                               2.734406
Berlin                               0.016575
Brandenburg                          9.796913
Bremen                               0.198414
Hamburg                              0.122500
Hessen                               2.902203
Mecklenburg-Vorpommern               4.512994
Niedersachsen                       14.865622
Nordrhein-Westfalen                  9.699396
Rheinland-Pfalz                      4.514715
Saarland                             0.581735
Sachsen                              1.612805
Sachsen-Anhalt                       6.086938
Schleswig-Holstein                   9.844400
Thüringen                            2.204935
offshore                            10.478918

In [620]:
df_cap_fac.index.day

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            31, 31, 31, 31, 31, 31, 31, 31, 31, 31],
           dtype='int64', name='time', length=350640)

In [602]:
df_
for state in df_inst_cap.index:
    df_cap_fac[state]

In [609]:
df df_cap_fac[state] * df_inst_cap.loc[state, 'installed_capacity_GW']

time
1980-01-01 00:00:00    3.320769
1980-01-01 01:00:00    3.397265
1980-01-01 02:00:00    3.465378
1980-01-01 03:00:00    3.655047
1980-01-01 04:00:00    3.959983
                         ...
2019-12-31 19:00:00    0.657028
2019-12-31 20:00:00    0.516611
2019-12-31 21:00:00    0.457929
2019-12-31 22:00:00    0.518706
2019-12-31 23:00:00    0.710471
Name: offshore, Length: 350640, dtype: float64

In [603]:
df_inst_cap.loc[state, 'installed_capacity_GW']

10.478918

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [604]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [605]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [606]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN