# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

In [1]:
import pandas as pd

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

Make an prediction of the annual generated electric energy provided by wind energy for all 16 German states (Bundesländer)

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

#### **Dataset 1**

Type: CSV File

Method: was downloaded via the API of https://www.renewables.ninja/ 

Dataset variables:

*   Variable 1: 'time' hourly time in UTC, starting in '1980-01-01 00:00:00' to '2019-12-31 23:00:00'
*   Variable 2-39: Capacity factors of the wind turbines for all German NUTS 2 regions
*   Variable 40: 'DE_TOTAL' Capacity factors of the wind turbines for Germany in Total

1st data gathering and loading method <br>
SOURCE: https://www.renewables.ninja/ --> country data --> Germany --> Wind (NUTS-2, current fleet, MERRA-2) (94.84 MB) <br>

DATASET INFO: # Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060 <br>
UNITS: time in UTC, other columns are capacity factors [0-1]. Current farms, with offshore farms inclued in closest NUTS zone. Bias corrected using national generation data. <br>

In [2]:
# The API Import is based on the API documentation of 
# https://www.renewables.ninja/documentation/api
import requests
import pandas as pd
import csv

# token is obtainable via free registration at https://www.renewables.ninja/
token = pd.read_csv('token_renewable_ninjas.txt').iloc[0,0] 

api_base = 'https://www.renewables.ninja/'

s = requests.session()

# Send token header with each request
s.headers = {'Authorization': 'Token ' + token}

# wind energy data for Germany (DE) for all NUTS 2 regions
url = api_base + 'country_downloads/DE/ninja_wind_country_DE_current_merra-2_nuts-2_corrected.csv' 

 
# Get the response
r = s.get(url)

# Write response into csv 
file = open('wind_data_germany.csv', 'wb')
file.write(r.content)
file.close()

In [72]:
# Read the saved csv as DataFrame
df = pd.read_csv('wind_data_germany.csv')

C:\Users\boeingh\AppData\Local\Temp\ipykernel_28324\3449569336.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wind_data_germany.csv')

In [73]:
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

#### Dataset 2

Installed Wind Turbines in Germany from public register for all electricity producing entities in public electricity networks. Downloaded 1. Sep 2023. 
Type:  CSV File

Method: Obtained via direct download from webpage https://www.marktstammdatenregister.de/MaStR/Einheit/Einheiten/OeffentlicheEinheitenuebersicht  



Dataset variables:

The Dataset contains 50 different columns/variables. Hence, all non necessary variables are going to be removed
*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [74]:
#FILL IN 2nd data gathering and loading method

df2_1 = pd.read_csv('Stromerzeuger_1_bis_25000.csv', sep=';', on_bad_lines='warn') 
df2_2 = pd.read_csv('Stromerzeuger_25001_bis_34883.csv', sep=';', on_bad_lines='warn') 

df2 = pd.concat([df2_1, df2_2])

In [75]:
df2.head(5)

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energieträger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschlüssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
0,SEE940146675093,WEA 5,In Betrieb,Wind,3000,3000,1.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG951718125489,E23572010000000001000024015700005,1.9.2017,3000,NaN,NaN,NaN,NaN,NaN
1,SEE973767078653,WEA 2 / 1150775,In Betrieb,Wind,3000,3000,28.9.2017,1.2.2019,Schleswig-Holstein,23824.0,...,SEL950515942794,EEG912885854947,E2079301EA01000000000087410800002,28.9.2017,3000,NaN,NaN,NaN,NaN,NaN
2,SEE914108319653,WEA 4,In Betrieb,Wind,3000,3000,4.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG996216581153,E23572010000000001000024015700006,4.9.2017,3000,NaN,NaN,NaN,NaN,NaN
3,SEE982417853618,WEA 6,In Betrieb,Wind,3000,3000,31.8.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG926639129328,E23572010000000001000024015700004,31.8.2017,3000,NaN,NaN,NaN,NaN,NaN
4,SEE913741454097,WEA 1 BMR,In Betrieb,Wind,2400,2400,11.1.2017,31.1.2019,Nordrhein-Westfalen,52525.0,...,SEL928898629335,EEG982767300077,E3070101Wn00000000000002891900001,19.1.2017,2400,NaN,NaN,NaN,NaN,NaN

In [76]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34883 entries, 0 to 9882
Data columns (total 50 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   MaStR-Nr. der Einheit                   34883 non-null  object
 1   Anzeige-Name der Einheit                34883 non-null  object
 2   Betriebs-Status                         34883 non-null  object
 3   Energieträger                           34883 non-null  object
 4   Bruttoleistung der Einheit              34883 non-null  object
 5   Nettonennleistung der Einheit           34883 non-null  object
 6   Inbetriebnahmedatum der Einheit         32230 non-null  object
 7   Registrierungsdatum der Einheit         34883 non-null  object
 8   Bundesland                              34882 non-null  object
 9   Postleitzahl                            33097 non-null  float64
 10  Ort                                     33097 non-null  object
 11  Straße                                  4664 non-null   object
 12  Hausnummer                              2793 non-null   object
 13  Gemarkung                               27512 non-null  object
 14  Flurstück                               27582 non-null  object
 15  Gemeindeschlüssel                       33098 non-null  float64
 16  Koordinate: Breitengrad (WGS84)         33961 non-null  object
 17  Koordinate: Längengrad (WGS84)          33961 non-null  object
 18  Anzahl der Solar-Module                 0 non-null      float64
 19  Hauptausrichtung der Solar-Module       0 non-null      float64
 20  Name des Windparks                      34066 non-null  object
 21  Nabenhöhe der Windenergieanlage         34016 non-null  object
 22  Rotordurchmesser der Windenergieanlage  34424 non-null  object
 23  Hersteller der Windenergieanlage        34428 non-null  object
 24  Typenbezeichnung                        34411 non-null  object
 25  Hauptbrennstoff der Einheit             0 non-null      float64
 26  Nutzbare Speicherkapazität in kWh       0 non-null      float64
 27  Technologie der Stromerzeugung          34883 non-null  object
 28  Lage der Einheit                        34881 non-null  object
 29  Letzte Aktualisierung                   34883 non-null  object
 30  Datum der endgültigen Stilllegung       1180 non-null   object
 31  Datum der geplanten Inbetriebnahme      2653 non-null   object
 32  Name des Anlagenbetreibers (nur Org.)   33928 non-null  object
 33  	MaStR-Nr. des Anlagenbetreibers        33928 non-null  object
 34  Volleinspeisung oder Teileinspeisung    34234 non-null  object
 35  MaStR-Nr. der Genehmigung               26237 non-null  object
 36  Name des Anschluss-Netzbetreibers       33513 non-null  object
 37  MaStR-Nr. des Anschluss-Netzbetreibers  33513 non-null  object
 38  Netzbetreiberprüfung                    32229 non-null  object
 39  Spannungsebene                          34583 non-null  object
 40  MaStR-Nr. der Lokation                  31272 non-null  object
 41  MaStR-Nr. der EEG-Anlage                32231 non-null  object
 42  EEG-Anlagenschlüssel                    30012 non-null  object
 43  Inbetriebnahmedatum der EEG-Anlage      32231 non-null  object
 44  Installierte Leistung                   32231 non-null  object
 45  Zuschlagnummer (EEG/KWK-Ausschreibung)  2254 non-null   object
 46  MaStR-Nr. der KWK-Anlage                0 non-null      float64
 47  Inbetriebnahmedatum der KWK-Anlage      0 non-null      float64
 48  Elektrische KWK-Leistung                0 non-null      float64
 49  Thermische Nutzleistung in kW           0 non-null      float64
dtypes: float64(10), object(40)
memory usage: 13.6+ MB

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [33]:
#Optional: store the raw data in your local data store

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

Data quality dimensions help guide your thought process while assessing and cleaning. <br>

Let's recap the key dimensions of data quality: 

1. Completeness is a metric that helps you understand whether your data is sufficient to answer interesting questions or solve your problem.
2. Validity is a metric helping you understand how well your data conforms to a defined set of rules for data, also known as a schema.
3. Accuracy is a metric that helps you understand whether your data accurately represents the reality it aims to depict.
4. Consistency is a metric that helps you understand two things: whether your data follows a standard format and whether your data’s info matches with information from other data sources.
5. Uniqueness is a metric that helps you understand whether there are duplicate or overlapping values in your data.

### Quality Issue 1:

In [34]:
#FILL IN - Inspecting the dataframe visually
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

In [35]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN* <br>
columns and time index are not set correctly

### Quality Issue 2:

In [36]:
#FILL IN - Inspecting the dataframe visually

In [37]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 1:

In [38]:
#FILL IN - Inspecting the dataframe visually

In [59]:
#FILL IN - Inspecting the dataframe programmatically
df.dtypes

dtype('float64')

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [40]:
#FILL IN - Inspecting the dataframe visually

In [41]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [42]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: Setting the right Columns

In [43]:
# FILL IN - Apply the cleaning strategy
df.rename(columns=df.iloc[1], inplace=True)
df.drop([0,1], inplace=True)

In [44]:
# FILL IN - Validate the cleaning was successful
df.head(5)

,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426
5,1980-01-01 03:00:00,0.344,0.2764,0.0995,0.3909,0.5074,0.4321,0.4107,0.3193,0.4299,...,0.1622,0.219,0.1424,0.352,0.2938,0.3512,0.289,0.0446,0.3553,0.2351
6,1980-01-01 04:00:00,0.3153,0.2619,0.0942,0.39,0.4734,0.3904,0.4257,0.3424,0.4137,...,0.1568,0.2234,0.1471,0.4035,0.2929,0.3642,0.2768,0.0735,0.3689,0.2339

Justification: *FILL IN*

Justification: *FILL IN*

### **Tidiness Issue 1: Setting correct Index**

In [45]:
#FILL IN - Apply the cleaning strategy
df['time'] = pd.DatetimeIndex(df['time']) # Cast as DatetimeIndex
df.set_index('time', inplace=True) # Set as time Index for Dataframe

In [46]:
#FILL IN - Validate the cleaning was successful
df.index

DatetimeIndex(['1980-01-01 00:00:00', '1980-01-01 01:00:00',
               '1980-01-01 02:00:00', '1980-01-01 03:00:00',
               '1980-01-01 04:00:00', '1980-01-01 05:00:00',
               '1980-01-01 06:00:00', '1980-01-01 07:00:00',
               '1980-01-01 08:00:00', '1980-01-01 09:00:00',
               ...
               '2019-12-31 14:00:00', '2019-12-31 15:00:00',
               '2019-12-31 16:00:00', '2019-12-31 17:00:00',
               '2019-12-31 18:00:00', '2019-12-31 19:00:00',
               '2019-12-31 20:00:00', '2019-12-31 21:00:00',
               '2019-12-31 22:00:00', '2019-12-31 23:00:00'],
              dtype='datetime64[ns]', name='time', length=350640, freq=None)

Justification: *FILL IN*

### **Quality Issue 2: Setting the correct data type**

In [79]:
#FILL IN - Apply the cleaning strategy
df = df.astype(float)

ValueError: could not convert string to float: '# Units: time in UTC, other columns are capacity factors [0-1]. Current farms, with offshore farms inclued in closest NUTS zone. Bias corrected using national generation data.'

In [61]:
#FILL IN - Validate the cleaning was successful
df.head(5)

time
1980-01-01 00:00:00    0.2561
1980-01-01 01:00:00    0.2547
1980-01-01 02:00:00    0.2426
1980-01-01 03:00:00    0.2351
1980-01-01 04:00:00    0.2339
                        ...
2019-12-31 19:00:00    0.1103
2019-12-31 20:00:00    0.0921
2019-12-31 21:00:00    0.0808
2019-12-31 22:00:00    0.0722
2019-12-31 23:00:00    0.0690
Name: DE_TOTAL, Length: 350640, dtype: float64

In [78]:
df.dtypes

# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060    object
Unnamed: 1                                                                                                                                                                                                                                      object
Unnamed: 2                                                                                                                                                                                                                                      object
Unnamed: 3                                                                                                                                                                                                                                      object
Unnamed: 4                                                                                                                                                                                                                                      object
Unnamed: 5                                                                                                                                                                                                                                      object
Unnamed: 6                                                                                                                                                                                                                                      object
Unnamed: 7                                                                                                                                                                                                                                      object
Unnamed: 8                                                                                                                                                                                                                                      object
Unnamed: 9                                                                                                                                                                                                                                      object
Unnamed: 10                                                                                                                                                                                                                                     object
Unnamed: 11                                                                                                                                                                                                                                     object
Unnamed: 12                                                                                                                                                                                                                                     object
Unnamed: 13                                                                                                                                                                                                                                     object
Unnamed: 14                                                                                                                                                                                                                                     object
Unnamed: 15                                                                                                                                                                                                                                     object
Unnamed: 16                                                                                                                                                                                                                                     object
Unnamed: 17                                                                                                                                                                                                                                     object
Unnamed: 18                                                                                                                                                                                                                                     object
Unnamed: 19                                                                                                                                                                                                                                     object
Unnamed: 20                                                                                                                                                                                                                                     object
Unnamed: 21                                                                                                                                                                                                                                     object
Unnamed: 22                                                                                                                                                                                                                                     object
Unnamed: 23                                                                                                                                                                                                                                     object
Unnamed: 24                                                                                                                                                                                                                                     object
Unnamed: 25                                                                                                                                                                                                                                     object
Unnamed: 26                                                                                                                                                                                                                                     object
Unnamed: 27                                                                                                                                                                                                                                     object
Unnamed: 28                                                                                                                                                                                                                                     object
Unnamed: 29                                                                                                                                                                                                                                     object
Unnamed: 30                                                                                                                                                                                                                                     object
Unnamed: 31                                                                                                                                                                                                                                     object
Unnamed: 32                                                                                                                                                                                                                                     object
Unnamed: 33                                                                                                                                                                                                                                     object
Unnamed: 34                                                                                                                                                                                                                                     object
Unnamed: 35                                                                                                                                                                                                                                     object
Unnamed: 36                                                                                                                                                                                                                                     object
Unnamed: 37                                                                                                                                                                                                                                     object
Unnamed: 38                                                                                                                                                                                                                                     object
Unnamed: 39                                                                                                                                                                                                                                     object
dtype: object

### **Tidiness Issue 2: FILL IN**

In [50]:
#FILL IN - Apply the cleaning strategy

In [51]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [52]:
#FILL IN - Remove unnecessary variables and combine datasets
# df = df['DE_TOTAL']
df

time
1980-01-01 00:00:00    0.2561
1980-01-01 01:00:00    0.2547
1980-01-01 02:00:00    0.2426
1980-01-01 03:00:00    0.2351
1980-01-01 04:00:00    0.2339
                        ...
2019-12-31 19:00:00    0.1103
2019-12-31 20:00:00    0.0921
2019-12-31 21:00:00    0.0808
2019-12-31 22:00:00    0.0722
2019-12-31 23:00:00    0.0690
Name: DE_TOTAL, Length: 350640, dtype: float64

In [53]:
df

time
1980-01-01 00:00:00    0.2561
1980-01-01 01:00:00    0.2547
1980-01-01 02:00:00    0.2426
1980-01-01 03:00:00    0.2351
1980-01-01 04:00:00    0.2339
                        ...
2019-12-31 19:00:00    0.1103
2019-12-31 20:00:00    0.0921
2019-12-31 21:00:00    0.0808
2019-12-31 22:00:00    0.0722
2019-12-31 23:00:00    0.0690
Name: DE_TOTAL, Length: 350640, dtype: float64

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [54]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [55]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [56]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN