# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

In [1]:
import pandas as pd

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

Make an prediction of the annual generated electric energy provided by wind energy for all 16 German states (Bundesl√§nder)

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

#### **Dataset 1**

Type: CSV File

Method: was downloaded via the API of https://www.renewables.ninja/ 

Dataset variables:

*   Variable 1: 'time' hourly time in UTC, starting in '1980-01-01 00:00:00' to '2019-12-31 23:00:00'
*   Variable 2-39: Capacity factors of the wind turbines for all German NUTS 2 regions
*   Variable 40: 'DE_TOTAL' Capacity factors of the wind turbines for Germany in Total

1st data gathering and loading method <br>
SOURCE: https://www.renewables.ninja/ --> country data --> Germany --> Wind (NUTS-2, current fleet, MERRA-2) (94.84 MB) <br>

DATASET INFO: # Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060 <br>
UNITS: time in UTC, other columns are capacity factors [0-1]. Current farms, with offshore farms inclued in closest NUTS zone. Bias corrected using national generation data. <br>

In [2]:
# The API Import is based on the API documentation of 
# https://www.renewables.ninja/documentation/api
import requests
import pandas as pd
import csv

# token is obtainable via free registration at https://www.renewables.ninja/
token = pd.read_csv('token_renewable_ninjas.txt').iloc[0,0] 

api_base = 'https://www.renewables.ninja/'

s = requests.session()

# Send token header with each request
s.headers = {'Authorization': 'Token ' + token}

# wind energy data for Germany (DE) for all NUTS 2 regions
url = api_base + 'country_downloads/DE/ninja_wind_country_DE_current_merra-2_nuts-2_corrected.csv' 

 
# Get the response
r = s.get(url)

# Write response into csv 
file = open('wind_data_germany.csv', 'wb')
file.write(r.content)
file.close()

In [80]:
# Read the saved csv as DataFrame
df = pd.read_csv('wind_data_germany.csv')

C:\Users\boeingh\AppData\Local\Temp\ipykernel_28324\3449569336.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wind_data_germany.csv')

In [81]:
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

#### Dataset 2

Installed Wind Turbines in Germany from public register for all electricity producing entities in public electricity networks. Downloaded 1. Sep 2023. <br />
Type:  CSV File

Method: Obtained via direct download from webpage https://www.marktstammdatenregister.de/MaStR/Einheit/Einheiten/OeffentlicheEinheitenuebersicht  <br />

Dataset variables: The Dataset contains 50 different columns/variables. Hence, all non necessary variables are going to be removed. <br />

Important variables:
*   column 0: MaStR-Nr. der Einheit - ID of wind turbine  
*   column 8: Bundesland - German state where the wind turbine is located
*   column 44: Installierte Leistung - installed capacity

In [267]:
#FILL IN 2nd data gathering and loading method

df2_1 = pd.read_csv('Stromerzeuger_1_bis_25000.csv', sep=';', on_bad_lines='warn') 
df2_2 = pd.read_csv('Stromerzeuger_25001_bis_34883.csv', sep=';', on_bad_lines='warn') 

df2 = pd.concat([df2_1, df2_2], ignore_index=True)

In [83]:
df2.head(5)

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energietr√§ger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschl√ºssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
0,SEE940146675093,WEA 5,In Betrieb,Wind,3000,3000,1.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG951718125489,E23572010000000001000024015700005,1.9.2017,3000,NaN,NaN,NaN,NaN,NaN
1,SEE973767078653,WEA 2 / 1150775,In Betrieb,Wind,3000,3000,28.9.2017,1.2.2019,Schleswig-Holstein,23824.0,...,SEL950515942794,EEG912885854947,E2079301EA01000000000087410800002,28.9.2017,3000,NaN,NaN,NaN,NaN,NaN
2,SEE914108319653,WEA 4,In Betrieb,Wind,3000,3000,4.9.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG996216581153,E23572010000000001000024015700006,4.9.2017,3000,NaN,NaN,NaN,NaN,NaN
3,SEE982417853618,WEA 6,In Betrieb,Wind,3000,3000,31.8.2017,13.2.2019,Hessen,34298.0,...,SEL911577226093,EEG926639129328,E23572010000000001000024015700004,31.8.2017,3000,NaN,NaN,NaN,NaN,NaN
4,SEE913741454097,WEA 1 BMR,In Betrieb,Wind,2400,2400,11.1.2017,31.1.2019,Nordrhein-Westfalen,52525.0,...,SEL928898629335,EEG982767300077,E3070101Wn00000000000002891900001,19.1.2017,2400,NaN,NaN,NaN,NaN,NaN

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [85]:
#Optional: store the raw data in your local data store

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

Information on Data quality dimensions from udacity course: <br>

The key dimensions of data quality: 

1. Completeness is a metric that helps you understand whether your data is sufficient to answer interesting questions or solve your problem.
2. Validity is a metric helping you understand how well your data conforms to a defined set of rules for data, also known as a schema.
3. Accuracy is a metric that helps you understand whether your data accurately represents the reality it aims to depict.
4. Consistency is a metric that helps you understand two things: whether your data follows a standard format and whether your data‚Äôs info matches with information from other data sources.
5. Uniqueness is a metric that helps you understand whether there are duplicate or overlapping values in your data.

### Tidiness Issue 1: columns and index not correctly set in first dataset

In [86]:
#FILL IN - Inspecting the dataframe visually
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

In [133]:
#FILL IN - Inspecting the dataframe programmatically
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350642 entries, 0 to 350641
Data columns (total 40 columns):
 #   Column                                                                                                                                                                                                                                        Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                        --------------   -----
 0   # Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060  350642 non-null  object
 1   Unnamed: 1                                                                                                                                                                                                                                    350641 non-null  object
 2   Unnamed: 2                                                                                                                                                                                                                                    350641 non-null  object
 3   Unnamed: 3                                                                                                                                                                                                                                    350641 non-null  object
 4   Unnamed: 4                                                                                                                                                                                                                                    350641 non-null  object
 5   Unnamed: 5                                                                                                                                                                                                                                    350641 non-null  object
 6   Unnamed: 6                                                                                                                                                                                                                                    350641 non-null  object
 7   Unnamed: 7                                                                                                                                                                                                                                    350641 non-null  object
 8   Unnamed: 8                                                                                                                                                                                                                                    350641 non-null  object
 9   Unnamed: 9                                                                                                                                                                                                                                    350641 non-null  object
 10  Unnamed: 10                                                                                                                                                                                                                                   350641 non-null  object
 11  Unnamed: 11                                                                                                                                                                                                                                   350641 non-null  object
 12  Unnamed: 12                                                                                                                                                                                                                                   350641 non-null  object
 13  Unnamed: 13                                                                                                                                                                                                                                   350641 non-null  object
 14  Unnamed: 14                                                                                                                                                                                                                                   350641 non-null  object
 15  Unnamed: 15                                                                                                                                                                                                                                   350641 non-null  object
 16  Unnamed: 16                                                                                                                                                                                                                                   350641 non-null  object
 17  Unnamed: 17                                                                                                                                                                                                                                   350641 non-null  object
 18  Unnamed: 18                                                                                                                                                                                                                                   350641 non-null  object
 19  Unnamed: 19                                                                                                                                                                                                                                   350641 non-null  object
 20  Unnamed: 20                                                                                                                                                                                                                                   350641 non-null  object
 21  Unnamed: 21                                                                                                                                                                                                                                   350641 non-null  object
 22  Unnamed: 22                                                                                                                                                                                                                                   350641 non-null  object
 23  Unnamed: 23                                                                                                                                                                                                                                   350641 non-null  object
 24  Unnamed: 24                                                                                                                                                                                                                                   350641 non-null  object
 25  Unnamed: 25                                                                                                                                                                                                                                   350641 non-null  object
 26  Unnamed: 26                                                                                                                                                                                                                                   350641 non-null  object
 27  Unnamed: 27                                                                                                                                                                                                                                   350641 non-null  object
 28  Unnamed: 28                                                                                                                                                                                                                                   350641 non-null  object
 29  Unnamed: 29                                                                                                                                                                                                                                   350641 non-null  object
 30  Unnamed: 30                                                                                                                                                                                                                                   350641 non-null  object
 31  Unnamed: 31                                                                                                                                                                                                                                   350641 non-null  object
 32  Unnamed: 32                                                                                                                                                                                                                                   350641 non-null  object
 33  Unnamed: 33                                                                                                                                                                                                                                   350641 non-null  object
 34  Unnamed: 34                                                                                                                                                                                                                                   350641 non-null  object
 35  Unnamed: 35                                                                                                                                                                                                                                   350641 non-null  object
 36  Unnamed: 36                                                                                                                                                                                                                                   350641 non-null  object
 37  Unnamed: 37                                                                                                                                                                                                                                   350641 non-null  object
 38  Unnamed: 38                                                                                                                                                                                                                                   350641 non-null  object
 39  Unnamed: 39                                                                                                                                                                                                                                   350641 non-null  object
dtypes: object(40)
memory usage: 107.0+ MB

Issue and justification:  <br>
columns and time index are not set correctly

### Tidiness Issue 2: Wrond data types in dataset 1

In [179]:
#FILL IN - Inspecting the dataframe visually
df.sample()

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
144387,1996-06-21 01:00:00,0.0197,0.0485,0.1067,0.0854,0.1397,0.1615,0.0767,0.0546,0.0236,...,0.0083,0.0152,0.0025,0.0859,0.0911,0.1342,0.0872,0.4098,0.1067,0.1773

In [191]:
#FILL IN - Inspecting the dataframe programmatically
df.dtypes.describe()

count         40
unique         1
top       object
freq          40
dtype: object

Issue and justification: *FILL IN*

### Tidiness Issue 3: Column 'Installierte Leistung' in second dataset is in wrong datatype and contains German Decimal separator ","

In [155]:
#FILL IN - Inspecting the dataframe visually
df2.loc[df2['Installierte Leistung'].notna()].query('`Installierte Leistung`.str.contains(",")')

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energietr√§ger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschl√ºssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
79,SEE909849088661,KWEA,In Betrieb,Wind,"29,8","29,8",22.5.2018,12.2.2019,Niedersachsen,26169.0,...,SEL935786229775,EEG939249793872,E21846010000000000001132583200001,22.5.2018,"29,8",NaN,NaN,NaN,NaN,NaN
246,SEE902072542702,Windmast,In Betrieb,Wind,"3,68","3,68",23.4.2013,6.2.2019,Hessen,34516.0,...,SEL970024742067,EEG982857338805,E2052301111AA00000000011551700001,23.4.2013,"3,68",NaN,NaN,NaN,NaN,NaN
280,SEE907566446207,"Antaris 5,5 KW",In Betrieb,Wind,"5,5","5,5",15.2.2012,7.2.2019,Bayern,85435.0,...,SEL951172808560,EEG923276605154,E21422010020024104100101010000001,15.2.2012,"5,5",NaN,NaN,NaN,NaN,NaN
503,SEE902262723539,Windrad,In Betrieb,Wind,"9,9","9,9",8.3.2014,11.2.2019,Baden-W√ºrttemberg,72469.0,...,SEL918501316738,EEG993680145010,NaN,8.3.2014,"9,9",NaN,NaN,NaN,NaN,NaN
949,SEE988744484358,"MK Windkraftanlage 1,6KW",In Betrieb,Wind,"1,6","1,6",8.5.2013,18.2.2019,Bayern,95131.0,...,SEL916348033429,EEG961175576465,NaN,8.5.2013,"1,6",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9478,SEE970611368106,Mini-Windkraftanlage Hausdach,In Betrieb,Wind,"0,6","0,6",1.6.2023,8.6.2023,Niedersachsen,29690.0,...,SEL914366504679,EEG951691968219,NaN,1.6.2023,"0,6",NaN,NaN,NaN,NaN,NaN
9554,SEE949642137555,Hof-Sch√ºrholz Mikrowindanlage,In Betrieb,Wind,"0,9","0,9",2.7.2023,2.7.2023,Nordrhein-Westfalen,57482.0,...,SEL926550841293,EEG935314921782,NaN,2.7.2023,"0,9",NaN,NaN,NaN,NaN,NaN
9661,SEE916749066187,"Windbaum 10,8 KW/peak",In Betrieb,Wind,"10,8","10,8",29.6.2023,30.6.2023,Rheinland-Pfalz,55270.0,...,SEL964314156276,EEG915333192769,NaN,29.6.2023,"10,8",NaN,NaN,NaN,NaN,NaN
9793,SEE974699041647,E105681,In Betrieb,Wind,"7,5","7,5",20.7.2023,31.7.2023,Mecklenburg-Vorpommern,18225.0,...,SEL998220497185,EEG984300312905,NaN,20.7.2023,"7,5",NaN,NaN,NaN,NaN,NaN
9873,SEE981924971389,Kleinwindkraftanlage Bestwatt Magens,In Betrieb,Wind,"29,8","29,8",13.5.2022,28.8.2023,Schleswig-Holstein,25377.0,...,SEL983594236850,EEG924660488070,NaN,13.5.2022,"29,8",NaN,NaN,NaN,NaN,NaN

In [159]:
#FILL IN - Inspecting the dataframe programmatically
df2['Installierte Leistung'].info()

<class 'pandas.core.series.Series'>
Int64Index: 34883 entries, 0 to 9882
Series name: Installierte Leistung
Non-Null Count  Dtype
--------------  -----
32231 non-null  object
dtypes: object(1)
memory usage: 545.0+ KB

Issue and justification: Missing values in columns 'Bundesland' (German State) and 'Installierte Leistung' (installed capacity)

### Quality Issue 1: Data is not consistent for merging the two Dataframes

In [178]:
#FILL IN - Inspecting the dataframe visually
df.head(5)

,"# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"# Units: time in UTC, other columns are capaci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,time,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
2,1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
3,1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
4,1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426

In [208]:
#FILL IN - Inspecting the dataframe programmatically
df.loc[1]

# Renewables.ninja Wind (NUTS-2 hourly data, 1980-2019) - ninja_wind_country_DE_merra-2_nuts-2_corrected - Version: 1.3 - License: https://creativecommons.org/licenses/by-nc/4.0/ - Reference: https://doi.org/10.1016/j.energy.2019.08.060        time
Unnamed: 1                                                                                                                                                                                                                                          DE11
Unnamed: 2                                                                                                                                                                                                                                          DE12
Unnamed: 3                                                                                                                                                                                                                                          DE13
Unnamed: 4                                                                                                                                                                                                                                          DE14
Unnamed: 5                                                                                                                                                                                                                                          DE21
Unnamed: 6                                                                                                                                                                                                                                          DE22
Unnamed: 7                                                                                                                                                                                                                                          DE23
Unnamed: 8                                                                                                                                                                                                                                          DE24
Unnamed: 9                                                                                                                                                                                                                                          DE25
Unnamed: 10                                                                                                                                                                                                                                         DE26
Unnamed: 11                                                                                                                                                                                                                                         DE27
Unnamed: 12                                                                                                                                                                                                                                         DE30
Unnamed: 13                                                                                                                                                                                                                                         DE40
Unnamed: 14                                                                                                                                                                                                                                         DE50
Unnamed: 15                                                                                                                                                                                                                                         DE60
Unnamed: 16                                                                                                                                                                                                                                         DE71
Unnamed: 17                                                                                                                                                                                                                                         DE72
Unnamed: 18                                                                                                                                                                                                                                         DE73
Unnamed: 19                                                                                                                                                                                                                                         DE80
Unnamed: 20                                                                                                                                                                                                                                         DE91
Unnamed: 21                                                                                                                                                                                                                                         DE92
Unnamed: 22                                                                                                                                                                                                                                         DE93
Unnamed: 23                                                                                                                                                                                                                                         DE94
Unnamed: 24                                                                                                                                                                                                                                         DEA1
Unnamed: 25                                                                                                                                                                                                                                         DEA2
Unnamed: 26                                                                                                                                                                                                                                         DEA3
Unnamed: 27                                                                                                                                                                                                                                         DEA4
Unnamed: 28                                                                                                                                                                                                                                         DEA5
Unnamed: 29                                                                                                                                                                                                                                         DEB1
Unnamed: 30                                                                                                                                                                                                                                         DEB2
Unnamed: 31                                                                                                                                                                                                                                         DEB3
Unnamed: 32                                                                                                                                                                                                                                         DEC0
Unnamed: 33                                                                                                                                                                                                                                         DED2
Unnamed: 34                                                                                                                                                                                                                                         DED4
Unnamed: 35                                                                                                                                                                                                                                         DED5
Unnamed: 36                                                                                                                                                                                                                                         DEE0
Unnamed: 37                                                                                                                                                                                                                                         DEF0
Unnamed: 38                                                                                                                                                                                                                                         DEG0
Unnamed: 39                                                                                                                                                                                                                                     DE_TOTAL
Name: 1, dtype: object

Issue:
The analysis focuses on the German states (NUTS 1 regions), but the data in the first dataset is given in NUTS 2 regions. Hence, we have to combine the data for the NUTS 2 regions into data for NUTS 1 regions (German States).

### Quality Issue 2: Missing values in second Dataset

Checking for missing values in column 'Bundesland' (German state)

In [123]:
#FILL IN - Inspecting the dataframe visually
df2.query('Bundesland.isna()')

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energietr√§ger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschl√ºssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
3289,SEE945735773402,V214103 (WH26),In Betrieb,Wind,3300,3300,23.12.2016,16.12.2020,NaN,NaN,...,SEL942043454245,EEG999280094369,E4183201RS50343407000093516100001,23.12.2016,3300,NaN,NaN,NaN,NaN,NaN

In [124]:
#FILL IN - Inspecting the dataframe programmatically
df2['Bundesland'].isna().sum()

1

Checking for missing values in column 'Installierte Leistung' (installed capacity)

In [125]:
#FILL IN - Inspecting the dataframe programmatically
df2['Installierte Leistung'].isna().sum()

2652

In [135]:
#FILL IN - Inspecting the dataframe visually
df2.loc[df2['Installierte Leistung'].isna()]

,MaStR-Nr. der Einheit,Anzeige-Name der Einheit,Betriebs-Status,Energietr√§ger,Bruttoleistung der Einheit,Nettonennleistung der Einheit,Inbetriebnahmedatum der Einheit,Registrierungsdatum der Einheit,Bundesland,Postleitzahl,...,MaStR-Nr. der Lokation,MaStR-Nr. der EEG-Anlage,EEG-Anlagenschl√ºssel,Inbetriebnahmedatum der EEG-Anlage,Installierte Leistung,Zuschlagnummer (EEG/KWK-Ausschreibung),MaStR-Nr. der KWK-Anlage,Inbetriebnahmedatum der KWK-Anlage,Elektrische KWK-Leistung,Thermische Nutzleistung in kW
12,SEE923802377883,WEA 2,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-W√ºrttemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,SEE950179793688,WEA 3,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-W√ºrttemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,SEE926034105682,WEA 4,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-W√ºrttemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SEE971087087461,WEA 6,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-W√ºrttemberg,78183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,SEE910634021237,WEA 7,In Planung,Wind,5700,5700,NaN,1.2.2019,Baden-W√ºrttemberg,78166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9877,SEE998676853559,GR18,In Planung,Wind,6000,6000,NaN,30.8.2023,Th√ºringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9878,SEE962120339821,GR19,In Planung,Wind,6000,6000,NaN,30.8.2023,Th√ºringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9879,SEE997949171680,GR20,In Planung,Wind,6000,6000,NaN,30.8.2023,Th√ºringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9880,SEE950186659038,GR21,In Planung,Wind,6000,6000,NaN,30.8.2023,Th√ºringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9881,SEE901623819256,GR22.1,In Planung,Wind,6000,6000,NaN,30.8.2023,Th√ºringen,99718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Issue and justification: Missing values in columns 'Bundesland' (German State) and 'Installierte Leistung' (installed capacity)

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [264]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted
df1_clean = df.copy()
df2_clean = df2.copy()

### **Clean Tidiness Issue 1: Setting the right Columns and index**

In [293]:
# Set correct columns
df1_clean.rename(columns=df1_clean.iloc[1], inplace=True) # Rename the columns with data in correct row
df1_clean.drop([0,1], inplace=True) # Dropping first two rows with non valid data

# Set correct index
df1_clean['time'] = pd.DatetimeIndex(df1_clean['time']) # Cast column 'time' as DatetimeIndex
df1_clean.set_index('time', inplace=True) # Set as time Index for Dataframe

In [294]:
# FILL IN - Validate the cleaning was successful
df1_clean.head(5)

,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,DE26,...,DEB2,DEB3,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DE_TOTAL
time,,,,,,,,,,,,,,,,,,,,,
1980-01-01 00:00:00,0.3095,0.2976,0.1413,0.396,0.4268,0.3764,0.3452,0.2439,0.3468,0.3309,...,0.2071,0.2788,0.1693,0.4048,0.3638,0.4305,0.3365,0.0175,0.3233,0.2561
1980-01-01 01:00:00,0.2973,0.2679,0.108,0.3758,0.4875,0.39,0.3714,0.2719,0.4085,0.3692,...,0.1792,0.2371,0.161,0.4302,0.3025,0.3668,0.3284,0.0236,0.3143,0.2547
1980-01-01 02:00:00,0.3347,0.2664,0.1025,0.3826,0.5073,0.4446,0.4002,0.2992,0.4276,0.38,...,0.1981,0.2072,0.1721,0.3462,0.2959,0.35,0.319,0.0315,0.3273,0.2426
1980-01-01 03:00:00,0.344,0.2764,0.0995,0.3909,0.5074,0.4321,0.4107,0.3193,0.4299,0.3302,...,0.1622,0.219,0.1424,0.352,0.2938,0.3512,0.289,0.0446,0.3553,0.2351
1980-01-01 04:00:00,0.3153,0.2619,0.0942,0.39,0.4734,0.3904,0.4257,0.3424,0.4137,0.3166,...,0.1568,0.2234,0.1471,0.4035,0.2929,0.3642,0.2768,0.0735,0.3689,0.2339

Justification: *FILL IN*

Justification: *FILL IN*

### **Clean Tidiness Issue 2: Setting the correct data type**

In [295]:
# Set correct data type
df1_clean = df1_clean.astype(float) # cast whole DataFrame as Float

In [297]:
#FILL IN - Validate the cleaning was successful
for dtype in df1_clean.dtypes: 
    assert dtype == 'float64'

### **Clean Tidiness Issue 3: Column 'Installierte Leistung' in second dataset is in wrong datatype and contains German Decimal separator ","**

In [287]:
df2_clean['Installierte Leistung'] = df2_clean['Installierte Leistung'].str.replace(pat=',', repl='.').astype(float)

In [290]:
assert df2_clean['Installierte Leistung'].dtype == 'float64', 'dtype of "Installierte Leistung" still wrong'

### **Clean Quality Issue 1: Data is not consistent for merging the two Dataframes**

In [299]:
to_replace = df1_clean.columns[0:38].astype(str).to_series().apply(lambda x: str(x)[:-1])
df1_clean.reset_index(inplace=True)

In [301]:
# Replace colum names, regroup data and 

df1_clean  = df1_clean.rename(columns=to_replace).melt(id_vars = 'time').groupby(by=['time', 'variable'])['value'].mean().reset_index(level=1)

                     variable     value
time
1980-01-01 00:00:00       DE1  0.286100
1980-01-01 00:00:00       DE2  0.356800
1980-01-01 00:00:00       DE3  0.060200
1980-01-01 00:00:00       DE4  0.143300
1980-01-01 00:00:00       DE5  0.266300
...                       ...       ...
2019-12-31 23:00:00       DED  0.093667
2019-12-31 23:00:00       DEE  0.061400
2019-12-31 23:00:00       DEF  0.131000
2019-12-31 23:00:00       DEG  0.041300
2019-12-31 23:00:00  DE_TOTAL  0.069000

[5960880 rows x 2 columns]

In [ ]:
df1_clean.head(5)

### **Clean Quality Issue 2: Missing values in second Dataset**

In [291]:
idx_drop = df2_clean.query('Bundesland.isna()').index
len(idx_drop)

0

In [266]:
print(df2_clean.shape[0])
df2_clean.drop(index=idx_drop, inplace=True)
print(df2_clean.shape[0])

34883
34882

In [283]:
assert df2_clean.query('Bundesland.isna()').shape[0] == 0, 'Still missing data for "Bundesland"'

In [271]:
idx_replace = df2_clean[df2_clean['Installierte Leistung'].isna()].index

In [277]:
df2_clean.loc[idx_replace, 'Installierte Leistung'] = df2_clean.loc[idx_replace, 'Bruttoleistung der Einheit']

In [281]:
assert df2_clean[df2_clean['Installierte Leistung'].isna()].shape[0] == 0, 'Still missing data for "Installierte Leistung"'

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

#FILL IN - Remove unnecessary variables and combine datasets

Issue:
The analysis focuses on the German states (NUTS 1 regions), but the data in the first dataset is given in NUTS 2 regions. Hence, we have to combine the data for the NUTS 2 regions into data for NUTS 1 regions (German States).

In [306]:
df1_clean.variable.unique().size

17

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [106]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [107]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [108]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN